html, body {
  margin: 0;
  padding: 0;
  border: 0;
  height: 100%;
  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background:  rgb(248, 199, 248);
}



.main-content-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  height: 100%;
}

.navbar-container {
  height: 90px;
  background: rgb(128, 204, 240);
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  /* justify-content: space-evenly; */
  /* align-content: center; */
}

.modal-button {
  position: absolute;
  right: 0;
  background: none;
  outline: none;
  border: none;
  font-size: 18px;
  height: 100%;
  margin-right: 30px;
  font-weight: bolder;
  color: white;
  margin-top: auto;
  margin-bottom: auto;
}

.header-container {
  /* position: absolute; */
  /* left: 42%; */
  display: inline-block;
  height: 100%;
  width: 230px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  text-align: center;
  font-size: 75px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  font-weight: bolder;
}

.content-container {
  margin-top: 90px;
  display: flex;
  flex-direction: row;
}

.coins-container, .timer-container {
  width: 200px;
  height: 100px;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 4px;
  background: white;
  outline: none;
  border: 8px solid rgb(128, 204, 240);
  color: rgb(146, 146, 236);
  font-weight: bolder;
  font-size: 20px;
}

.coins-header, .timer-header {
  text-align: center;
  padding-bottom: 5px;
  border-bottom: 2px solid rgb(128, 204, 240);
}

.coins {
  height: 50px;
  margin-top: 10px;
  font-size: 25px;
  text-align: center;
}

canvas {
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid black;
  border-radius: 3px;
}

.button-container, .score-container2 {
  width: 20%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reload {
  width: 200px;
  height: 90px;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 4px;
  background: white;
  outline: none;
  border: 8px solid rgb(128, 204, 240);
  color: rgb(146, 146, 236);
  font-weight: bolder;
  font-size: 20px;
  cursor: pointer
}
/* Modal Content */

.is-hidden {
  display: none;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 99
}

.modal-container {
  height: 100%;
  width: 100%;
  background: purple;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-header {
  position: absolute;
  top: 90px;
  height: 200px;
}

.button-close, .new-game {
    position: absolute;
    top: 400px;
    width: 200px;
    height: 90px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.start, .new-game {
  height: 90px;
  width: 200px;
  border-radius: 4px;

  background: white;
  outline: none;
  border: 8px solid rgb(128, 204, 240);
  color: rgb(146, 146, 236);
  font-weight: bolder;
  font-size: 20px;
  cursor: pointer;
}

